.li {
  overflow-y: auto;
  margin-bottom: 20px;
  height: 78%;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  .dataList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .MuiListItem-padding {
      padding: 0 !important;
    }
    .left {
      display: flex;
      align-items: center;
    }
  }
  .liItem:hover .cancel {
    display: block;
  }
  .cancel {
    display: none;
  }
  .liItem:last-child {
    margin-bottom: 10px;
    #standard-basic {
      margin-bottom: 10px;
    }
  }
}
